<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:background="http://www.w3.org/1999/xhtml"
      xmlns:background-color="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
  <meta charset="UTF-8">
  <!--Conexión Con Bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  <!--Conexión CSS-->
  <link href="../inicio.css" rel="stylesheet">
  <link href="https://i.ibb.co/PQ329Nx/LOGO-SEDIAL-24px-Mesa-de-trabajo-1.png" rel="icon" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <title th:text="${titulo}"></title>
</head>
<body>
<div class="container-fluid">
  <!--Cabecera-->
  <header>
    <div class="row">
      <div class="column col xl-2 w-auto">
        <div class="header"><img class="imagen" src="../images/logo-blanco-sedial.png" alt="logo_Sedial"/></div>
      </div>
      <div class="column col xl-10 w-auto">
        <a th:href="@{/inicio}"><button type="button" class="btn1 btn-light">Inicio</button></a>
        <div class="dropdown">
          <button class="btn1 btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Cargos
          </button>
          <div class="dropdown-content">
            <a class="dropdown-item" th:href="@{/vercargos}">Ver</a>
            <a class="dropdown-item" th:href="@{/nuevocargo}">Registrar</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn1 btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Centro Costos
          </button>
          <div class="dropdown-content">
            <a class="dropdown-item" th:href="@{/vercentros}">Ver</a>
            <a class="dropdown-item" th:href="@{/nuevocentro}">Registrar</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn1 btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Colaboradores
          </button>
          <div class="dropdown-content">
            <a class="dropdown-item" th:href="@{/verempleados}">Ver</a>
            <a class="dropdown-item" th:href="@{/nuevoempleado}">Registrar</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn1 btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Estados
          </button>
          <div class="dropdown-content">
            <a class="dropdown-item" th:href="@{/verestadoelementos}">Ver</a>
            <a class="dropdown-item" th:href="@{/nuevoestadoelemento}">Registrar</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn1 btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Tipo Elementos
          </button>
          <div class="dropdown-content">
            <a class="dropdown-item" th:href="@{/vertipoelementos}">Ver</a>
            <a class="dropdown-item" th:href="@{/nuevotipoelemento}">Registrar</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn1 btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Elementos
          </button>
          <div class="dropdown-content">
            <a class="dropdown-item" th:href="@{/verelementos}">Ver</a>
            <a class="dropdown-item" th:href="@{/nuevoelemento}">Registrar</a>
          </div>
        </div>
        <div class="dropdown">
          <button class="btn"><img src="../images/icono_perfil.png" alt="" type="button" aria-expanded="false"></button>
          <div class="dropdown-content">
            <a class="dropdown-item" th:href="@{/perfil}">Perfil</a>
            <a class="dropdown-item" href="../index.html">Salir</a>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>

<div class="contents">
    <img class="banner" src="../images/banner-elementotecnologico.jpg" alt="Banner Elemento">
</div>

<br>
<br>
<br>

<div class="container">
  <div class="row">
    <br>
    <br>
    <div class="col-md-12 container-form" th:text="${cuerpo}"></div>
  </div>
  <br>
  <form class="row g-3" th:action="@{/guardarelemento}" th:object="${elemento}" method="post">
    <input type="hidden" th:field="*{idelemen}">
    <div class="col-md-4">
      <label class="form-label">Fecha</label>
      <input type="date" name="fecha" class="form-control" th:field="*{fechaasignacion}" value="" required>
    </div>
    <div class="col-md-4">
      <label class="form-label">Marca</label>
      <input type="text" name="marca" class="form-control" th:field="*{marca}" value="" placeholder="Marca" required>
    </div>
    <div class="col-md-4">
      <label class="form-label">Modelo</label>
      <input type="text" name="modelo" class="form-control" th:field="*{modelo}" value="" placeholder="Modelo" required>
    </div>
    <div class="col-md-4">
      <label class="form-label">Placa</label>
      <input type="text" name="placa" class="form-control" th:field="*{placa}" placeholder="Placa" required>
    </div>
    <div class="col-md-4">
      <label class="form-label">Serial</label>
      <input type="text" name="serial" class="form-control" th:field="*{serial}" placeholder="Serial" required>
    </div>
    <div class="col-md-4">
      <label class="form-label">Tipo Elemento</label>
      <select class="form-select" th:field="*{tipoelemento}" name="tipoelemento" required>
        <option th:each="i: ${datosTipoElemento}"  th:value="${i.idtipo}" th:text="${i.tipoelemen}" selected> Seleccione Tipo Elemento </option>
      </select>
    </div>
    <div class="col-md-4">
      <label class="form-label">Estado</label>
      <select class="form-select" th:field="*{estadoelemento}" name="estadoelemento" required>
        <option th:each="i: ${datosEstadoElemento}" th:value="${i.idestado}" th:text="${i.nombreestado}" selected> Seleccione Estado </option>
      </select>
    </div>
    <div class="col-md-8">
      <label class="form-label">Asignado A</label>
      <select class="form-select" th:field="*{empleado}" name="empleado" required>
        <option th:each="i: ${datosEmpleado}" th:value="${i.idempl}" th:text="${i.nombreempl} + ' ' + ${i.apellidoempl}" selected> Empleado </option>
      </select>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
        <label class="form-check-label" for="invalidCheck2">
          Confirmar Registro
        </label>
      </div>
    </div>
    <br>
    <br>
    <div class="col-12">
      <button class="btn btn-primary" type="submit">Agregar</button>
    </div>
    <br>
    <br>
    <br>
  </form>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>

<footer class="footer-clean">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-4 item social"><a href="www.facebook.com"><i class="icon ion-social-facebook"></i></a><a href="www.twitter.com"><i class="icon ion-social-twitter"></i></a><a href="wwww.whastsapp.com"><i class="icon ion-social-whatsapp"></i></a><a href="www.instagram.com"><i class="icon ion-social-instagram"></i></a>
        <p class="copyright">Sedial S.A.S © 2023 Todos los derechos reservados</p>
      </div>
    </div>
  </div>
</footer>

</body>
</html>