<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:background="http://www.w3.org/1999/xhtml"
      xmlns:background-color="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <!--Conexión Con Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <!--Conexión CSS-->
    <link href="../inicio.css" rel="stylesheet">
    <link href="https://i.ibb.co/PQ329Nx/LOGO-SEDIAL-24px-Mesa-de-trabajo-1.png" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">
    <!--Conexión CSS Datatable-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap4.min.css">
    <title th:text="${titulo}"></title>
</head>
<body>
<div class="container-fluid">
    <!--Cabecera-->
    <header>
        <div class="row">
            <div class="column col xl-2 w-auto">
                <div class="header"><img class="imagen" src="../images/logo-blanco-sedial.png" alt="logo_Sedial"/></div>
            </div>
            <div class="column col xl-10 w-auto">
                <a th:href="@{/inicio}"><button type="button" class="btn1 btn-light">Inicio</button></a>
                <div class="dropdown">
                    <button class="btn1 btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Cargos
                    </button>
                    <div class="dropdown-content">
                        <a class="dropdown-item" th:href="@{/vercargos}">Ver</a>
                        <a class="dropdown-item" th:href="@{/nuevocargo}">Registrar</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn1 btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Centro Costos
                    </button>
                    <div class="dropdown-content">
                        <a class="dropdown-item" th:href="@{/vercentros}">Ver</a>
                        <a class="dropdown-item" th:href="@{/nuevocentro}">Registrar</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn1 btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Colaboradores
                    </button>
                    <div class="dropdown-content">
                        <a class="dropdown-item" th:href="@{/verempleados}">Ver</a>
                        <a class="dropdown-item" th:href="@{/nuevoempleado}">Registrar</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn1 btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Estados
                    </button>
                    <div class="dropdown-content">
                        <a class="dropdown-item" th:href="@{/verestadoelementos}">Ver</a>
                        <a class="dropdown-item" th:href="@{/nuevoestadoelemento}">Registrar</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn1 btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Tipo Elementos
                    </button>
                    <div class="dropdown-content">
                        <a class="dropdown-item" th:href="@{/vertipoelementos}">Ver</a>
                        <a class="dropdown-item" th:href="@{/nuevotipoelemento}">Registrar</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn1 btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Elementos
                    </button>
                    <div class="dropdown-content">
                        <a class="dropdown-item" th:href="@{/verelementos}">Ver</a>
                        <a class="dropdown-item" th:href="@{/nuevoelemento}">Registrar</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn"><img src="../images/icono_perfil.png" alt="" type="button" aria-expanded="false"></button>
                    <div class="dropdown-content">
                        <a class="dropdown-item" th:href="@{/perfil}">Perfil</a>
                        <a class="dropdown-item" href="../index.html">Salir</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>

<div class="contents">
    <img class="banner" src="../images/banner-elementotecnologico.jpg" alt="Banner Elemento">
</div>

<br>
<br>
<br>

<div class="container">

    <div class="row">
        <br>
        <br>
        <div class="col-md-12 container-form" th:text="${cuerpo}"></div>
    </div>
    <br>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <div class="row">
            <thead class="">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Fecha Asignación</th>
                <th scope="col">Marca</th>
                <th scope="col">Modelo</th>
                <th scope="col">Placa</th>
                <th scope="col">Serial</th>
                <th scope="col">Tipo Elemento</th>
                <th scope="col">Estado</th>
                <th scope="col">Asignado A</th>
                <th scope="col">Acción</th>
            </tr>
            </thead>
        </div>
        <tbody th:each="tempList: ${datosElemento}">
        <tr>
            <td th:text="${tempList.idelemen}"></td>
            <td th:text="${tempList.fechaasignacion}"></td>
            <td th:text="${tempList.marca}"></td>
            <td th:text="${tempList.modelo}"></td>
            <td th:text="${tempList.placa}"></td>
            <td th:text="${tempList.serial}"></td>
            <td th:text="${tempList.tipoelemento.tipoelemen}"></td>
            <td th:text="${tempList.estadoelemento.nombreestado}"></td>
            <td th:text="${tempList.empleado.nombreempl} + ' ' + ${tempList.empleado.apellidoempl}"></td>
            <td>
                <a class="btn btn-outline-primary" th:href="@{/editarelemento/} + ${tempList.idelemen}">Editar</a>
                <a class="btn btn-outline-primary" th:href="@{/eliminarelemento/} + ${tempList.idelemen}">Eliminar</a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Fecha Asignación</th>
            <th scope="col">Marca</th>
            <th scope="col">Modelo</th>
            <th scope="col">Placa</th>
            <th scope="col">Serial</th>
            <th scope="col">Tipo Elemento</th>
            <th scope="col">Estado</th>
            <th scope="col">Asignado A</th>
            <th scope="col">Acción</th>
        </tr>
        </tfoot>
    </table>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<!-- Referencia JQuery Datatable -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap4.min.js"></script>

<script>
        $(document).ready(function() {
            $('#example').DataTable( {
                language: {
                    url: 'https://cdn.datatables.net/plug-ins/1.13.1/i18n/es-MX.json'
                }
            }  );
        } );
   </script>

<footer class="footer-clean">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-4 item social"><a href="www.facebook.com"><i class="icon ion-social-facebook"></i></a><a href="www.twitter.com"><i class="icon ion-social-twitter"></i></a><a href="wwww.whastsapp.com"><i class="icon ion-social-whatsapp"></i></a><a href="www.instagram.com"><i class="icon ion-social-instagram"></i></a>
                <p class="copyright">Sedial S.A.S © 2023 Todos los derechos reservados</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>